body{
    background: black;
}
.container{
    background-color: white;
    height: 620px;
    width: 380px;
    margin: auto;
}
.header{
    /*background-color: red;*/
    display: flex;
    justify-content: space-between;
}
.left{
    /*background-color: yellow;*/
    display: flex;
    flex-direction: column;
}
.left p{
    margin:  0px ;
}
.right{
    /*background-color: pink;*/
    margin-right: 5px;
    font-size: 35px;
}
.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
}
.iconos{
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}